{% extends 'kahve/base.html' %}
{% load static %}
{% block content %}
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'assets/img/intro.jpg' %}" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Taze Kahve</span>
                            <span class="section-heading-lower">İçilmeye Değer</span>
                        </h2>
                        <p class="mb-3">Kaliteli esnaf kahvemizin her fincanı yerel kaynaklı, elle seçilmiş malzemelerle başlar. Bir kez denediğinizde, kahvemiz günlük sabah rutininize keyifli bir katkı olacak - bunu garanti ediyoruz!</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="/store">Bugün Bizi Ziyaret Edin!</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Bizim Sözümüz</span>
                                <span class="section-heading-lower">Sana</span>
                            </h2>
                            <p class="mb-0">Güne başlamak için mağazamıza girdiğinizde, size güler yüzlü hizmet, sıcak bir atmosfer ve her şeyden önce en kaliteli malzemelerle yapılmış mükemmel ürünler sunmaya kendimizi adadık. Memnun değilseniz, lütfen bize bildirin, işleri düzeltmek için elimizden geleni yapacağız!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}